Django>=2.2,<2.3
django-extensions==2.2.6
django-dotenv==1.4.1
wagtail>=2.8,<2.9
Pillow<7.0,>=6.2.0
elasticsearch==2.4.1
dj-database-url==0.4.1
lxml==4.4.2
python-dateutil==2.8.1
psycopg2>=2.7,<3.0
wagtail-treemodeladmin
wagtail-copyablemodeladmin
regdown>=1.0.1,<1.2
whitenoise==3.2.2
graphene-django>2.2,<3
